<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <classes>
		  <class name="testScript.LoginPage ">
			  <methods>
				  <include name=" verifyTheUserIsAbleToLoginUsingValidCredentials"></include>
				  <include name="varifyWhetherTheUserIsUnableToLoginWithCorrectUserNameAndIncorrectPassWord"></include>
			  </methods>
		  </class>
		  <class name="">
			  <methods>
				  <exclude name="verifyWhetherTheUserIsAddANewLocation"></exclude>
			  </methods>
		  </class>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
